body {
    background-color: rgb(29, 18, 31);
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(51, 164, 216);
}
a:visited {
    color: rgb(177, 85, 214);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgb(84, 84, 194);
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
}
h2 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
}
footer {
    border-top: 1px solid #ffffff;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #ffffff;
}

ul.posts li {
    list-style: none;
}

footer {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px auto 40px; 
    font-size: 0.75em;
    color: #ffffff;
}

.posts {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
}
