<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div style="height:1px; width:100%; clear:both;"></div>
			<nav>
				<ul>
						<li><a href="/">home</a></li>
						<li><a href="/about">about me</a></li>
						<li><a href="/blog">posts</a></li>

						<li style="border-right: 1px solid #ffffffcc"></li>

						<li><a href="https://github.com/ArneStenkrona">github</a></li>
						<li><a href="https://www.linkedin.com/in/arne-stenkrona-03582617b/">LinkedIn</a></li>

					
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				© Arne Stenkrona
			</footer>
		</body>
    </html>
